# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Application storage & log files
storage/
logs/
*.log

# Frontend & Node dependencies
node_modules/
dist/

# Local environment variables
.env
.env.local
.env.*.local

# Screenshots
phase-2/data/

